.notification{
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:9998;
	width:100%;
	.notice {
		background-color: $light_blue;
		color: $white;
		text-align: center;
	}
	.alert {
		background-color: $alert_orange;
		color: $white;
		text-align: center;
	}
}
