.userform{
  background:white;
  max-width:400px;
  padding:0;
  margin:10px auto;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
  border:solid 1px darkgrey; 
  position:  relative;            /* 位置指定 */
  animation: anime1 1s ease;      /* アニメーション指定 */
  opacity:0.9;
    .userform_inner{   
      margin:0;
      padding:1em;
      .project-title{
        font-size:30px;
        font-family: 'Pacifico', cursive;
        text-align:center;
        margin-bottom:0.8em;
      }
      .error-h2{
        padding-top:1em;
        font-size:14px;
        color:red;
      }
      .error-ul{
        color:red;
        font-size:14px;
        margin:0;
        padding:0 0 0 20px;
        list-style-type:disc;
      }
      .page-target{
        margin:0;
        border-bottom:0.5px solid lightgrey;
      }
      .field{
        margin:10px 0 20px 0;
        label{
          margin:0;
        }
        @include avatar_call();
        input{
          padding:0.3em;
          margin:0;
          width:100%;
          border-radius:4px;
        }
      }
      .actions{
        text-align:center;
        margin-bottom:1em;
      }
      .back{
      }
    }
}

@keyframes anime1 {
  0% {
    opacity:  0; /* 透明度指定 */
    top: 20px;
  }
  100% {
    opacity: 1; /* 透明度指定 */
    top: 0;     /* 位置指定 */
  }
}

.user_page{
  margin:74px auto 0 auto;
  padding:0;
  max-width:980px;

  .user_page__inner{

    .user_page__inner__show-profile{
      padding:10px;
      border-bottom:1px solid lightgrey;
      @media only screen and (min-width: 768px) {
        padding:45px 40px 40px 40px;
      }
      .user_page__inner__show-profile__wrapper{
        display:flex;

        .user_page__inner__show-profile__wrapper__avatar-box{
          box-sizing:border-box;
          margin:0;
          padding:0;
          
          .user_page__inner__show-profile__wrapper__avatar-box__inner{
            height:60px;
            width:60px;
            position:relative;
            overflow:hidden;
            border-radius:50%; 
            @media only screen and (min-width: 768px) {
              height:140px;
              width:140px;  
            }

            .avatar_image{
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              width: 160%;
              height: auto; 
            }
          }
        }
        .avatar_box{
          width:40px;
          height:40px;
          .avatar_box_inner__non-avatar{
            .non-avatar{
              font-size:40px;
            }
          }
        }
        @media only screen and (min-width: 768px) {
          .avatar_box{
            width:40px;
            height:40px;
            .avatar_box_inner__non-avatar{
              .non-avatar{
                font-size:60px;
              }
            }
          }
        }
        .user_page__inner__show-profile__wrapper__right-box{
          padding:0 0 0 10px;
          width:80%;
          @media only screen and (min-width: 768px) {
            padding:0 0 0 40px;
            width:60%;
          }

          .user_page__inner__show-profile__wrapper__right-box__profile{
            width:100%;
            height:50px;
            line-height:50px;
            display:flex;
            justify-content: space-between;

            .user_page__inner__show-profile__wrapper__right-box__profile__name_box{
              font-size:30px;
              font-weight:bold;
              font-family: 'Catamaran', sans-serif;
            }

            .user_page__inner__show-profile__wrapper__right-box__profile__edit_box{
              margin:0 0 0 30px;
                .edit-btn{
                  font-size:12px;
                }
            }
            .user_page__inner__show-profile__wrapper__right-box__profile__follow_box{
              margin:0 0 0 30px;
            }
            @media only screen and (min-width: 768px) {
              .user_page__inner__show-profile__wrapper__right-box__profile__edit_box{
                .edit-btn{
                  font-size:16px;
                }
              }
            }
          }

          .user_page__inner__show-profile__wrapper__right-box__status{
            display:flex;
            flex-flow:row;
            justify-content:space-around;
            height:30px;
            line-height:30px;
            font-family: 'Catamaran', sans-serif;
            margin:10px 0 0 0;
            padding:0;
            .user_page__inner__show-profile__wrapper__right-box__status__articles{
            }
            .user_page__inner__show-profile__wrapper__right-box__status__followers{
            }
            .user_page__inner__show-profile__wrapper__right-box__status__following{
            }
          }
          @media only screen and (min-width: 768px) {
            .user_page__inner__show-profile__wrapper__right-box__status{
              display:flex;
              flex-flow:row;
              justify-content:space-around;
              margin:0;
              padding:0;
            }
          }
        }
      }
    }
  }
  .user_post-main__inner{
    margin-top:20px;
    text-align:center;
    .user_post-main__inner__container{

      .user_post-main__inner__container__list{
        .switch_usermenu{
          margin-bottom:10px;
          font-family: 'Catamaran', sans-serif;
        }
        .user_postslist{
          font-size:20px;
          font-family: 'Catamaran', sans-serif;

        }
        .user-post-main__inner__container__list__posts{
          display:block;
        }

        .user-post-main__inner__container__list__favorites{
          display:none;
        }

        .user-post-main__inner__container__list__followers{
          display:none;
          &__member_box{
            @include user_box_call();
            margin:40px auto;
            max-width:400px;
          }
        }

        .user-post-main__inner__container__list__followings{
          display:none;
          &__member_box{
            @include user_box_call();
            margin:40px auto;
            max-width:400px;
            .post-main__inner__container__list__wrapper__article-box{
              margin-bottom:20px;
            }
          }
        
        }
      }
    }
  }
}

.frame{
  background-image:none;// display:none;
}
@media only screen and (min-width: 768px) {
  .frame {
    background-attachment: fixed;
    background-image: image-url("img1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
  }
  .frame::before {
    background: inherit;
    content: '';
    filter: blur(4px);
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
  }
}