= render "devise/shared/nav"
.post-main
  .post-main__inner
    .post-main__inner__container
      .post-main__inner__container__list
        %ul.post-main__inner__container__list__wrapper
          =render partial: "post", collection: @posts
        = paginate(@posts)