@mixin avatar_call(){
  .avatar_box{
    box-sizing:border-box;
    margin:0;
    padding:0;
    
    .avatar_box_inner{
      height:45px;
      width:45px;
      position:relative;
      overflow:hidden;
      border-radius:50%;        
  
      .avatar_image{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 160%;
        height: auto;    
      } 
    }
    .avatar_box_inner__non-avatar{
      height:45px;
      width:45px;
      .non-avatar{
      }
    }
  }
}